# Download Data

## Download OSM data

In [1]:
import pyrosm
from pyrosm import get_data

fp = get_data("Toronto", directory = "data/osm")

## Download TTC Transit Feed data

In [2]:
import requests

# Toronto Open Data is stored in a CKAN instance. It's APIs are documented here:
# https://docs.ckan.org/en/latest/api/

# To hit our API, you'll be making requests to:
base_url = "https://ckan0.cf.opendata.inter.prod-toronto.ca"

# Datasets are called "packages". Each package can contain many "resources"
# To retrieve the metadata for this package and its resources, use the package name in this page's URL:
url = base_url + "/api/3/action/package_show"
params = { "id": "ttc-routes-and-schedules"}
package = requests.get(url, params = params).json()

# To get resource data:
for idx, resource in enumerate(package["result"]["resources"]):

# To get metadata for non datastore_active resources:
    if not resource["datastore_active"]:
        url = base_url + "/api/3/action/resource_show?id=" + resource["id"]
        resource_metadata = requests.get(url).json()
        url = resource_metadata["result"]["url"]
        print(resource_metadata)
        # From here, you can use the "url" attribute to download this file

{'help': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/help_show?name=resource_show', 'success': True, 'result': {'cache_last_updated': None, 'cache_url': None, 'created': '2020-12-07T21:50:41.530037', 'datastore_active': False, 'extract_job': 'Airflow: upload_remote_files', 'format': 'ZIP', 'hash': '', 'id': 'cfb6b2b8-6191-41e3-bda1-b175c51148cb', 'is_datastore_cache_file': False, 'is_preview': False, 'last_modified': '2023-09-03T19:57:48', 'metadata_modified': '2023-09-03T20:15:40.676930', 'mimetype': 'application/zip', 'mimetype_inner': None, 'name': 'TTC Routes and Schedules Data', 'package_id': '7795b45e-e65a-4465-81fc-c36b9dfff169', 'position': 0, 'resource_type': None, 'revision_id': '4e00475d-2c1b-421a-ae1c-7686ae77d08f', 'size': 33786302, 'state': 'active', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/7795b45e-e65a-4465-81fc-c36b9dfff169/resource/cfb6b2b8-6191-41e3-bda1-b175c51148cb/download/opendata_ttc_schedules.zip', 'url_type': 'upload'}}

In [6]:
import requests, zipfile, io

r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("data/TTC")

# with open (r"data/TTC/gtfs.zip", mode="wb") as file:
#     file.write(r.content)

## Download TTC Subway Lines Shapefiles

In [3]:
import requests

# Toronto Open Data is stored in a CKAN instance. It's APIs are documented here:
# https://docs.ckan.org/en/latest/api/

# To hit our API, you'll be making requests to:
base_url = "https://ckan0.cf.opendata.inter.prod-toronto.ca"

# Datasets are called "packages". Each package can contain many "resources"
# To retrieve the metadata for this package and its resources, use the package name in this page's URL:
url = base_url + "/api/3/action/package_show"
params = { "id": "ttc-subway-shapefiles"}
package = requests.get(url, params = params).json()

# To get resource data:
for idx, resource in enumerate(package["result"]["resources"]):

    # To get metadata for non datastore_active resources:
    if not resource["datastore_active"]:
        url = base_url + "/api/3/action/resource_show?id=" + resource["id"] #api URL
        resource_metadata = requests.get(url).json()
        url = resource_metadata["result"]["url"] #result url
        print(resource_metadata)
    # From here, you can use the "url" attribute to download this file

{'help': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/help_show?name=resource_show', 'success': True, 'result': {'cache_last_updated': None, 'cache_url': None, 'created': '2019-07-23T18:13:00.742161', 'datastore_active': False, 'format': 'SHP', 'hash': '', 'id': '7d68bb52-3285-45d7-a248-7748cb47f6ce', 'is_datastore_cache_file': False, 'is_preview': False, 'last_modified': '2019-07-23T18:13:00.719515', 'metadata_modified': '2022-03-25T15:06:23.894145', 'mimetype': 'application/zip', 'mimetype_inner': None, 'name': 'ttc-subway-shapefile-wgs84', 'package_id': 'c01c6d71-de1f-493d-91ba-364ce64884ac', 'position': 0, 'resource_type': None, 'revision_id': '279d3841-1011-43db-b225-692623995917', 'size': 20796, 'state': 'active', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/c01c6d71-de1f-493d-91ba-364ce64884ac/resource/7d68bb52-3285-45d7-a248-7748cb47f6ce/download/ttc-subway-shapefile-wgs84.zip', 'url_type': 'upload'}}

In [7]:
import requests, zipfile, io

r2 = requests.get(url)
z2 = zipfile.ZipFile(io.BytesIO(r2.content))
z2.extractall("data/TTC")

# Create Network Dataset

In [75]:
%set_env JAVA_HOME=C:\Program Files\Microsoft\jdk-17.0.8.101-hotspot\

env: JAVA_HOME=C:\Program Files\Microsoft\jdk-17.0.8.101-hotspot\

In [76]:
import geopandas as gpd
import pandas as pd
import numpy as np
import fiona
import r5py
import datetime

In [77]:
#Bring in the geojson files for rinks and hex_grid
rinks = gpd.read_file("analysis/data/rinks.geojson")
#Data must contain an ID column
rinks["id"] = rinks._id

hex_grid = gpd.read_file("analysis/data/hex-grid-centroids.geojson")

In [78]:
#Create transport network
transport_network = r5py.TransportNetwork("data/osm/Toronto.osm.pbf",["data/TTC/gtfs.zip"])

## Get Minimum Travel Time - Walking + Transit

In [79]:
#Compute travel time matrix for walking and transit on a weekday at 6:30pm
from r5py import TransportMode

travel_time_matrix_computer = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,6,18,30), 
    transport_modes=[TransportMode.WALK, TransportMode.TRANSIT], speed_walking=4.5)

In [80]:
travel_time_matrix = travel_time_matrix_computer.compute_travel_times()
travel_time_matrix.to_csv("data/travel_time/tt_matrix.csv", index = True)

In [81]:
#Get only minimum travel time to the cloest ring for each hex
import pandas as pd

tt = pd.read_csv("data/travel_time/tt_matrix.csv")
tt["travel_time"] = tt["travel_time"].fillna(120)

#Find minimum walking + transit time from hex to the cloest ring
min_tt_wt_630 = tt.groupby("to_id").agg({"travel_time":[min]})
min_tt_wt_630 = min_tt_wt_630.rename(columns ={"travel_time":"walk_&_transit_weekday"})
min_tt_wt_630.to_csv("data/travel_time/access-min-travel-time.csv")

In [82]:
min_tt_wt_630

      walk_&_transit_weekday
                         min
to_id
1544                    43.0
1545                    43.0
1708                    40.0
1709                    41.0
1710                    41.0
...                      ...
41369                   63.0
41370                   67.0
41371                   69.0
41532                   70.0
41533                   66.0

[19588 rows x 1 columns]

## Get Minimum Travel Time - Walking

In [83]:
#Compute travel time matrix for walking ONLY 
from r5py import TransportMode

travel_time_matrix_computer_walk = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,6,18,30),
    transport_modes=[TransportMode.WALK], speed_walking=4.5)

In [84]:
travel_time_matrix_walk = travel_time_matrix_computer_walk.compute_travel_times()
travel_time_matrix_walk.to_csv("data/travel_time/tt_matrix_walk.csv", index = True)

In [85]:
import pandas as pd

tt_walk = pd.read_csv("data/travel_time/tt_matrix_walk.csv")
tt_walk["travel_time"] = tt_walk["travel_time"].fillna(120)

#Find minimum walking time from hex to the cloest ring
min_tt_walk = tt_walk.groupby("to_id").agg({"travel_time":[min]})
min_tt_walk = min_tt_walk.rename(columns ={"travel_time":"walk"})
min_tt_walk.to_csv("data/travel_time/min_walking_travel_time")

In [86]:
min_tt_walk

        walk
         min
to_id
1544    51.0
1545    51.0
1708    47.0
1709    49.0
1710    51.0
...      ...
41369  120.0
41370  120.0
41371  120.0
41532  120.0
41533  120.0

[19588 rows x 1 columns]

## Get Minimum Travel Time - Transit (Weekday)

In [87]:
#Compute travel time matrix for transit ONLY on a weekday at 6:30pm

travel_time_matrix_computer_transit_weekday = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,6,18,30),
    transport_modes=[TransportMode.TRANSIT], speed_walking=4.5)

In [88]:
travel_time_matrix_computer_transit_weekday = travel_time_matrix_computer_transit_weekday.compute_travel_times()
travel_time_matrix_computer_transit_weekday.to_csv("data/travel_time/tt_matrix_transit_weekday", index = True)

In [89]:
tt_transit_weekday = pd.read_csv("data/travel_time/tt_matrix_transit_weekday")
tt_transit_weekday["travel_time"] = tt_transit_weekday["travel_time"].fillna(120)

#Find minimum transit time from hex to the cloest ring on a weekday
min_tt_transit_weekday = tt_transit_weekday.groupby("to_id").agg({"travel_time":[min]})
min_tt_transit_weekday = min_tt_transit_weekday.rename(columns = {"travel_time":"transit_weekday"})
min_tt_transit_weekday.to_csv("data/travel_time/min_transit_travel_time")

In [90]:
min_tt_transit_weekday

      transit_weekday
                  min
to_id
1544             43.0
1545             43.0
1708             40.0
1709             41.0
1710             41.0
...               ...
41369            63.0
41370            67.0
41371            69.0
41532            70.0
41533            66.0

[19588 rows x 1 columns]

## Get Minimum Travel Time - Transit (Weekend)

In [91]:
#Compute travel time matrix for transit on a weekend at 2:30pm

travel_time_matrix_computer_transit_weekend = r5py.TravelTimeMatrixComputer(
    transport_network,origins=rinks,destinations=hex_grid,
    departure=datetime.datetime(2023,9,9,14,30), 
    transport_modes=[TransportMode.TRANSIT], speed_walking=4.5)

In [92]:
travel_time_matrix_computer_transit_weekend = travel_time_matrix_computer_transit_weekend.compute_travel_times()
travel_time_matrix_computer_transit_weekend.to_csv("data/travel_time/tt_matrix_transit_weekend", index = True)

In [93]:
tt_matrix_transit_weekend = pd.read_csv("data/travel_time/tt_matrix_transit_weekend")
tt_matrix_transit_weekend["travel_time"] = tt_matrix_transit_weekend["travel_time"].fillna(120)

#Find minimum transit time from hex to the cloest ring on a weekend
min_tt_transit_weekend = tt_matrix_transit_weekend.groupby("to_id").agg({"travel_time":[min]})
min_tt_transit_weekend = min_tt_transit_weekend.rename(columns = {"travel_time":"transit_weekend"})
min_tt_transit_weekend.to_csv("data/travel_time/min_tt_transit_weekend")

In [94]:
min_tt_transit_weekend

      transit_weekend
                  min
to_id
1544             45.0
1545             44.0
1708             41.0
1709             43.0
1710             41.0
...               ...
41369            65.0
41370            69.0
41371            70.0
41532            72.0
41533            68.0

[19588 rows x 1 columns]

## Inner Join to Combine all DFs

In [95]:
#Use inner join to combine all tables into one df
final = pd.concat([min_tt_wt_630,min_tt_walk,min_tt_transit_weekday,min_tt_transit_weekend],
                 axis=1, join="inner").droplevel(1,axis=1).reset_index(drop=False)
#Export final datatable to a csv
final.to_csv("data/travel_time/travel_time_final.csv")

In [96]:
final

       to_id  walk_&_transit_weekday   walk  transit_weekday  transit_weekend
0       1544                    43.0   51.0             43.0             45.0
1       1545                    43.0   51.0             43.0             44.0
2       1708                    40.0   47.0             40.0             41.0
3       1709                    41.0   49.0             41.0             43.0
4       1710                    41.0   51.0             41.0             41.0
...      ...                     ...    ...              ...              ...
19583  41369                    63.0  120.0             63.0             65.0
19584  41370                    67.0  120.0             67.0             69.0
19585  41371                    69.0  120.0             69.0             70.0
19586  41532                    70.0  120.0             70.0             72.0
19587  41533                    66.0  120.0             66.0             68.0

[19588 rows x 5 columns]

## Combine Census Variable DFs

In [22]:
import pandas as pd
import numpy as np

In [6]:
#Data file 1 - Median Income
df1 = pd.read_csv("data/census/data.csv")
df1 = df1.set_index(["GeoUID"]).rename(columns={
    "v_CA21_560: Median total income in 2020 among recipients ($)":"Median Income(2020,$)"})
df1

In [12]:
#Data file 2 - Immigrant and visble minority population
df2 = pd.read_csv("data/census/data (2).csv")
#Rename columns and remove duplicate columns 
df2 = df2.set_index(["GeoUID"]).rename(columns={
    "v_CA21_4410: Immigrants":"# of Immigrants",
    "v_CA21_4875: Total visible minority population":"# of Visible Minority"})
df2 = df2.drop(columns=["Type", "Region Name", "Area (sq km)", "Population ", "Dwellings ", "Households "])
df2

          # of Immigrants  # of Visible Minority
GeoUID
35180018            155.0                  110.0
35180019             70.0                   50.0
35180021             70.0                   15.0
35180022             80.0                   50.0
35180024             40.0                    0.0
...                   ...                    ...
35431423            510.0                  625.0
35431425             20.0                    0.0
35431426            120.0                  110.0
35431427             45.0                   25.0
35431428             65.0                   40.0

[7716 rows x 2 columns]

In [32]:
census = df1.join(df2, how="left")
census.replace(0, np.nan, inplace=True)

#Calculate immigrant and visible miniority percentages
census["Immigrant%"] = census.apply(lambda x: x["# of Immigrants"]/x["Population "]*100, axis=1)
census["Visible Minority%"] = census.apply(lambda x: x["# of Visible Minority"]/x["Population "]*100, axis =1)

#Calculate population density, immigrant density, visible minority density
census["Population Density"] = census.apply(lambda x: x["Population "]/x["Area (sq km)"], axis =1)
census["Immigrant Density"] = census.apply(lambda x: x["# of Immigrants"]/x["Area (sq km)"], axis =1)
census["Visible Minority Density"]= census.apply(lambda x: x["# of Visible Minority"]/x["Area (sq km)"], axis =1)

#Export as a csv file
census.to_csv("data/census/census.csv")
census

,Type,Region Name,Area (sq km),Population,Dwellings,Households,"Median Income(2020,$)",# of Immigrants,# of Visible Minority,Immigrant%,Visible Minority%,Population Density,Immigrant Density,Visible Minority Density
GeoUID,,,,,,,,,,,,,,
35180018,DA,35180018,6.1125,1573.0,540.0,527.0,50800.0,155.0,110.0,9.853783,6.993007,257.341513,25.357873,17.995910
35180019,DA,35180019,0.2620,709.0,284.0,275.0,43600.0,70.0,50.0,9.873061,7.052186,2706.106870,267.175573,190.839695
35180021,DA,35180021,0.1923,490.0,231.0,214.0,43200.0,70.0,15.0,14.285714,3.061224,2548.101924,364.014561,78.003120
35180022,DA,35180022,0.2121,407.0,206.0,194.0,43600.0,80.0,50.0,19.656020,12.285012,1918.906176,377.180575,235.737860
35180024,DA,35180024,0.3922,486.0,173.0,171.0,51600.0,40.0,NaN,8.230453,NaN,1239.163692,101.988781,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35431423,DA,35431423,0.8142,2285.0,711.0,706.0,48800.0,510.0,625.0,22.319475,27.352298,2806.435765,626.381724,767.624662
35431425,DA,35431425,5.7717,108.0,46.0,41.0,NaN,20.0,NaN,18.518519,NaN,18.711991,3.465184,NaN
35431426,DA,35431426,0.2193,816.0,345.0,336.0,42400.0,120.0,110.0,14.705882,13.480392,3720.930233,547.195622,501.595987
35431427,DA,35431427,0.4174,455.0,184.0,175.0,38400.0,45.0,25.0,9.890110,5.494505,1090.081457,107.810254,59.894586
35431428,DA,35431428,0.2865,741.0,304.0,291.0,40000.0,65.0,40.0,8.771930,5.398111,2586.387435,226.876091,139.616056

## Clean Rinks table joined with DA/Census Data

In [62]:
pd.set_option("display.max_columns", 50)

In [69]:
rinks_da = pd.read_csv("data/rinks_da/rinks_da.csv")
rinks_da

,_id,Parent Asset Name,Asset ID,Asset Name,Public Name,Pad Length (ft.),Pad Width (ft.),Ice Pad Type,Boards (Ice Rink),Rink is Lit,Address,Postal Code,Community Council Area,Ward,a,q,t,dw,hh,id,pop,name,rgid,rpid,ruid,rguid,Type,Region Name,Area (sq km),Population,Dwellings,Households,"Median Income(2020,$)",# of Immigrants,# of Visible Minority,Immigrant%,Visible Minority%,Population Density,Immigrant Density,Visible Minority Density
0,1,Albert Campbell Square,43568,Albert Campbell Square - Outdoor Ice Pad,Scarborough Civic Centre/Albert Campbell Squar...,NaN,NaN,Outdoor Ice Pad,No,Yes,150 Borough Dr,M1P 4N7,Scarborough,21,0.6867,0,DA,676,602,35204857,1197,35204857,3520,3520005,5350368.01,35535,DA,35204857,0.6867,1197.0,676.0,602.0,32400.0,665.0,1125.0,55.555556,93.984962,1743.119266,968.399592,1638.269987
1,2,Alexandra Park,43573,Harry Gairey - Alexandra Park - Outdoor Ice Pad,Harry R. Gairey Ice Rink,180.0,120.0,Outdoor Ice Pad,Yes,Yes,275 Bathurst St,M5T 2S4,Toronto and East York,10,0.1089,0,DA,335,311,35200888,706,35200888,3520,3520005,5350039.00,35535,DA,35200888,0.1089,706.0,335.0,311.0,41600.0,245.0,385.0,34.702550,54.532578,6483.011938,2249.770432,3535.353535
2,3,Broadlands Community Centre,43575,Broadlands Park - Outdoor Ice Pad,Broadlands Community Centre Outdoor Artificial...,185.0,85.0,Outdoor Ice Pad,Yes,Yes,19 Castlegrove Blvd,M3A 1K9,North York,16,0.2673,0,DA,238,232,35202747,663,35202747,3520,3520005,5350271.01,35535,DA,35202747,0.2673,663.0,238.0,232.0,45600.0,180.0,180.0,27.149321,27.149321,2480.359147,673.400673,673.400673
3,4,Buttonwood Park,43576,Buttonwood Park - Outdoor Ice Pad,Buttonwood Park Outdoor Artifcial Ice Rink,150.0,120.0,Outdoor Ice Pad,No,Yes,30 Mulham Pl,M9A 4W1,Etobicoke York,2,0.1954,0,DA,152,142,35202985,556,35202985,3520,3520005,5350230.02,35535,DA,35202985,0.1954,556.0,152.0,142.0,42400.0,175.0,125.0,31.474820,22.482014,2845.445241,895.598772,639.713408
4,5,Campbell Avenue Playground,43577,Campbell Avenue Playground - Outdoor Ice Pad,Campbell Avenue Playground Outdoor Artificial ...,180.0,80.0,Outdoor Ice Pad,Yes,Yes,225 Campbell Ave,M6P 3V5,Toronto and East York,9,0.0617,0,DA,170,155,35200963,373,35200963,3520,3520005,5350098.00,35535,DA,35200963,0.0617,373.0,170.0,155.0,33600.0,140.0,145.0,37.533512,38.873995,6045.380875,2269.043760,2350.081037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,West Mall Rink,44022,West Mall Rink - Outdoor Ice Pad (1),West Mall Outdoor Articifical Ice Rink (1),185.0,80.0,Outdoor Ice Pad,Yes,Yes,370 The West Mall,M9C 1E4,Etobicoke York,2,0.2404,0,DA,384,370,35204070,1040,35204070,3520,3520005,5350221.02,35535,DA,35204070,0.2404,1040.0,384.0,370.0,38000.0,405.0,280.0,38.942308,26.923077,4326.123128,1684.692180,1164.725458
65,66,West Mall Rink,43580,West Mall Rink - Outdoor Ice Pad (2),West Mall Rink Outdoor Artificial Ice Rink (2),NaN,NaN,Outdoor Ice Pad,No,Yes,370 The West Mall,M9C 1E4,Etobicoke York,2,0.2404,0,DA,384,370,35204070,1040,35204070,3520,3520005,5350221.02,35535,DA,35204070,0.2404,1040.0,384.0,370.0,38000.0,405.0,280.0,38.942308,26.923077,4326.123128,1684.692180,1164.725458
66,67,Westgrove Park,43611,Westgrove Rink - Outdoor Ice Pad,Westgrove Park Outdoor Artificial Ice Rink,123.0,100.0,Outdoor Ice Pad,No,Yes,15 Redgrave Dr,M9R 3T9,Etobicoke York,1,0.1108,0,DA,190,181,35201781,438,35201781,3520,3520005,5350237.01,35535,DA,35201781,0.1108,438.0,190.0,181.0,39200.0,215.0,215.0,49.086758,49.086758,3953.068592,1940.433213,1940.433213
67,68,Westway Park,43612,Westway Outdoor Rink - Outdoor Ice Pad,Westway Outdoor Articifical Ice Rink,185.0,85.0,Outdoor Ice Pad,Yes,Yes,175 The Westway,M9P 2C2,Etobicoke York,2,0.2740,0,DA,251,241,35203000,680,35203000,3520,3520005,5350240.01,35535,DA,35203000,0.2740,680.0,251.0,241.0,53200.0,300.0,110.0,44.117647,16.176471,2481.751825,1094.890511,401.459854
68,69,Withrow Park,43613,Withrow Park - Outdoor Ice Pad,Withrow Park Outdoor Articifical Ice Rink,180.0,80.0,Outdoor Ice Pad,Yes,Yes,725 Logan Ave,M4K 3B9,Toronto and East York,14,0.1538,0,DA,206,182,35200708,477,35200708,3520,3520005,5350071.00,35535,DA,35200708,0.1538,477.0,206.0,182.0,62000.0,105.0,125.0,22.012579,26.205451,3101.430429,682.704811,812.743823